::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
h1{
    padding: 2%;
    color: #636363;
    text-decoration: underline;
}
h3{
    padding: 2%;
    color: #808080;
}
p{
    padding: 2%;
}
.container{
    width: 80%;
    height: 100%;
    background-color: #eae7dc;
    font-family: 'Cairo';
    overflow: scroll;
}
#sidebar{
    font-size: 30px;
    text-align: center;
    padding: 20px;
    background-color: #0b0c10;
    float: left;
}
.header{
    position: relative;
    width: 100%;
    background-color: #1f2833;
    box-shadow: 0px 0px 8px gray;
}
img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
@media (min-width: 700px){
    h1{
        font-size: 5vw;
    }
    h3{
        font-size: 3vw;
    }
    p{
        font-size: 2vw;
    }
    li{
        font-size: 2vw;
    }
    .header{
        height: 15%;
    }
    .img{
        height: 80%;
        width: 30%;
    }
    .sidebar{
        width: 20%;
    }
    .buttons{
        display: none;
    }
    .container{
        float: right;
    }
}
@media (max-width: 699px){
    h1{
        font-size: 10vw;
    }
    p{
        font-size: 6vw;
    }
    li{
        font-size: 4vw;
    }
    .header{
        height: 50px;
    }
    .img{
        width: 190px;
        height: 40px;
    }
    .sidebar{
        display: none;
    }
    .buttons{
        display: inline-block;
        margin: 2%;
        width: 100%;
        align-items: center;
        padding: 2%;
    }
    .btn{
        width: 20%;
        height: 5%;
        font-size: 2vw;
        margin-left: 2%;
    }
}